body {
  box-size: border-box;
}
.main {
  max-width: 90vw;
  margin: 2rem auto;
}
img {
  display: block
  width: 100%;
}
.gallery__header {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  margin: 2rem auto;
}
.profile__img {
  width: 30%;
  border-radius: 1.5rem;
}
.profile__name {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #4E5150;
  margin: 1rem;
}
.profile__location {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #A9A9A9;
}
.profile__badges {
  border-radius: 12px;
  margin: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.badge__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100px;
  height: 67px;
  background: #E5E5E5;
  border-radius: 12px;
}
.number {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4E5150;
}
.desc {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #BDBDBD;
}
.container__gallery {
  display: grid;
  grid-template-areas:
  'photo1 photo2 photo2'
  'photo3 photo3 photo_4'
  'photo5 photo6 photo_4';
  grid-gap: 1rem;
  grid-template-rows: 11vh 10vh 10vh;
  margin-bottom: 3rem;
}
.container__gallery img {
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  max-height: 100%;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 0.15));
}
.photo1 {
  grid-area: photo1
}
.photo2 {
  grid-area: photo2
}
.photo3 {
  grid-area: photo3
}
.photo_4 {
  grid-area: photo_4
}
.photo5 {
  grid-area: photo5
}
.photo6 {
  grid-area: photo6
}
 footer {
  color: #BDBDBD;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}
@media (min-width: 768px) {
  .main {
    max-width: 65vw;
    margin: 2rem auto;
  }
  .gallery__header {
    max-width: 40%;
  }
  .profile__img {
    width: 30%;
    border-radius: 1.5rem;
  }
  .container__gallery {
    grid-gap: 2rem;
    grid-template-rows: 390px 380px 390px;
    margin-bottom: 3rem;
  }
}